.box1 {
    border: 2px solid black;
    width: 400px;
    padding-left: 50px;
}

#header {
    border: 2px solid black;
    border-bottom: none;
    width: 911px;
    padding-left: 50px;

}

#td2 {
    border-left: 2px solid black;
}

.box2 {
    border: 2px solid black;
    width: 908px;
    text-align: left;
    font-size: 99%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box3 {
    border: 2px solid black;
    width: 908px;

}

.box4 {
    border: 2px solid black;
    border-top: none;
    width: 908px;
    text-align: left;
    font-size: 110%;
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box5 {
    border: 2px solid black;
    width: 908px;
    overflow-x: hidden;
    text-align: left;
    font-size: 110%;

}



.box6 {
    border: 2px solid black;
    width: 480px;
    text-align: left;
    font-size: 110%;
    overflow: hidden;
}

.box7 {
    border: 2px solid black;
    border-left: none;
    width: 420px;
    text-align: left;
    font-size: 110%;
    overflow: hidden;
    display: flex;

}

.box8 {
    border-top: 2px solid black;
    overflow: hidden;
    display: block;
}

.box13 {

    overflow: hidden;
    display: block;
    width: 212px;
}

.box9 {
    display: flex;
    justify-content: center;
}

.box10 {

    border-top: 2px solid black;
    display: block;
}

.box11 {
    border-left: 2px solid black;
    border-top: 2px solid black;
    font-size: 66%;
}

.box12 {
    border-top: 2px solid black;
}

.box14 {
    margin-top: 20px;
    overflow: hidden;
    margin-left: 490px;
}

.box15 {
    text-align: right;
    margin-right: 175px;
}

.box16 {

    width: 530px;
    text-align: left;
    font-size: 110%;
    overflow: hidden;

}

.box17 {
    overflow: hidden;
    display: block;
}

.box18 {
    overflow: hidden;
    display: block;
    margin-left: 20px;
    width: 353px;

}

.box19 {
    border: 1px solid black;
    margin-bottom: 10px;


}

.box20 {
    border: 1px solid black;
    text-align: left;
}

.con {
    display: flex;
    justify-content: center;
}

.con2 {
    display: flex;
    width: 908px;
    margin-top: 10px;

}

.jobNo {
    font-size: 21px;
    text-align: center;
}

input {
    border: none;
    border-bottom: 1px solid black;
}

#example {
    width: 100%;
}

#example td {
    font-size: 87%;


}

#example tr:nth-child(even) {
    background-color: #ff3c3c;
}

#tbl_footer {
    width: 90%;
    margin-left: 15%;
    font-weight: bold;
}

#example2 td {
    font-size: 102%;
    border: 1px solid black;
}

#example4 td {
    font-size: 105%;
    border: 1px solid black;
    height: 35px;
}

#example5 td {
    border: 1px solid black;
}

#tbl_bottom {
    font-size: 12px;
    padding-top: 80px;

}

@media print {
    body {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .box14 {
        margin-top: 20px;
        overflow: hidden;
        margin-left: 0px;
        margin-right: 50px;

    }

    .box15 {
        text-align: right;
        margin-right: 0px;
        margin-top: 2px;
    }

    .img {
        background-image: url("D:/JOB CARD 2.o/car.png");
        width: 55%;
        background-repeat: no-repeat;
        background-size: cover;
        /* This will cover the entire container */
        background-position: center;
    }




}


#printButton {
    width: 13%;
    height: 7%;
    color: aqua;
    background-color: darkblue;
    font-size: 20px;
    border: 1px solid aqua;
    border-radius: 10px;
    margin-top: 20px;
    transition: all ease 0.5s;
}

#printButton:hover {
    transform: scale(1.10);
    
}

.center-content {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .box14 {
        margin-top: 20px;
        overflow: hidden;
        margin-left: 29px;
    }

    #printButton {
        width: 10%;
        height: 3%;
        color: aqua;
        background-color: darkblue;
        font-size: 20px;
        border: 1px solid aqua;
        border-radius: 10px;
        margin-top: 20px;
        transition: all ease 0.5s;
    }
}

.img {
    position: relative;
    width: 210px;
    height: 400px;
    background-image: url("D:/JOB CARD 2.o/car5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* This will cover the entire container */
    background-position: center;
}

.fuleing { 
     background-image: url("D:/JOB CARD 2.o/fule2.jpg");
    width: 210px;
    height: 12%;
    background-repeat: no-repeat;
    background-size:210px 60px;
    /* This will cover the entire container */
    background-position: center;}

#front {
    margin-top: 70px;
    margin-left: 70px;
}
#fule1{
    margin-top: 38px;
    margin-left: 52px;
}
#fule2{
   
    margin-left: 25px;
}
#fule3{
  
    margin-left: 27px;
}

.checkbox-container {
    position: absolute;
    display: none;
}

.checkbox-container input[type="checkbox"] {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    transform: scale(1.5); /* Adjust size of checkbox */
}

#clearButton {
    width: 15%;
    height: 7%;
    color: rgb(255, 210, 210);
    background-color: red;
    font-size: 20px;
    border: 1px solid rgb(255, 210, 210);
    border-radius: 10px;
    margin-top: 20px;
    transition: all ease 0.5s;
}

#clearButton:hover {
    transform: scale(1.10);
    
}

